body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    left:0;
    right:0;
    box-sizing: border-box;
}

.body{
    overflow-x: hidden;
}

header {
    background: hsl(0 0% 100% / 0.1);
    background-color: #532700;
    align-items: center;
    display: flex;
    color: #78553b;
    padding: 1em;
    text-align: left;
    position: fixed;
    width: 100%;
    height: 70px;
    margin: 0;
    top: 0;
    z-index: 1000;
}
    header img {
        width: 60px;
        margin-top : 3px;
        margin-bottom: 5px;
        margin-left: 20px;
        margin-right: 10px;
    }
nav {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    background-color:transparent;
    padding: 0.5em 0;
    position:absolute;
    right:270px;
}
    nav a {
        color: white;
        text-decoration: none;
        padding: 0.5em 1em;
        transition: color 0.3s ease;
    }
        nav a:hover {
            color: #ce933b;
        }

.addon{
    width:230px;
    height:50px;
    /* background-color: red; */

    position:absolute;
    top:24px;
    right:20px;
}

.addon a{
    color:white;
    text-decoration:none;

    /* margin-right: 25px; */
}

.addon .book_now{
    position:absolute;
    top:0;
    left:0;
}

.addon .log_out{
    position:absolute;
    top:0;
    right:80px;
}

.addon a:hover{
    color:#ce933b;
}

.loggedin-cus-logo{
    width:30px;
    height:30px;
    border-radius:50%;
}

.nav-login-form{
    position:absolute;
    top:20px;
    right:80px;
}

.nav-register-form{
    position:absolute;
    top:28px;
    right:80px;
}

.nav-register-form a{
    color:white;
}

.nav-register-form a:hover{
    color:#ce933b;
    text-decoration: none;
}



section {
    padding: 2em;
    display: none;
    margin-top: 5px;
}
.half-width {
    width: 50%;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
#map {
    width: 100%;
    height: 300px;
}
.section {
    display: block;
}
.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ddd;
    display: none;
    z-index: 1000;
}
    #intro video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
#transparent-box {
    background: #ce933b;
    padding: 20px;
    max-width: 270px;
    max-height: 700px;
}
#overview h1 {

    text-align: center;
    font-family: 'Dancing Script', cursive;
}
#overview p {
    font-family: 'Times New Roman';
}
#overview {
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 50px;
    padding: 20px;
}
#leftimage {
    max-width: 400px;
    max-height: 700px;
    margin-right: 100px;
    float: left;
}
    #leftimage img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 10px 0 10px 10px;
        float: left;
    }
#rightimage {
    max-width: 400px;
    max-height: 700px;
    margin-left: 90px;
    float: right;
}
    #rightimage img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 10px 0 10px 10px;
        float: left;
    }
#accommodation {
    position: relative;
    width:1000px;
    height: 550px;
    padding: 50px;
    background-color: aliceblue;
    box-shadow: 0 30px 50px #dbdbdb;
    align-content:center;
    margin-left:200px;

}
#slide {
    align-content:center;
    width: max-content;
    margin-top: 50px;
}
.item {
    width: 200px;
    height: 300px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0,-50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
}
    .item:nth-child(1),
    .item:nth-child(2) {
        left: 0;
        top: 0;
        transform: translate(0,0);
        border-radius: 0;
        width: 100%;
        height: 100%;
        box-shadow: none;
    }

    .item:nth-child(3) {
        left: calc(50% + 220px);
    }

    .item:nth-child(n+4) {
        left: calc(50% + 440px);
    }
    .item .transperant {
        position: relative;
        background-color: antiquewhite;
        opacity: 0.7;
        z-index: 10000;
        height: 310px;
        left: 100px;
        margin-top: 200px;
        padding: 0;
        margin-left: 0px;
        width: 330px;
        border-radius: 10px;
        animation: showtransperant 1s ease-in-out forwards;
    }
    .item:nth-child(3) .transperant,
    .item:nth-child(n+4) .transperant {
        display: none;
    }

@keyframes showtransperant {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.7;
    }
}
    .item .content {
        position: relative;
        top: 150px;
        left: 10px;
        width: 300px;
        text-align: left;
        padding: 0;
        color: #532700;
        display: none;
        transform: translate(0,-50%);
        font-family: system-ui;
    }

    .item:nth-child(2) .content {
        display: block;
        z-index: 11111;
    }
    .item .name {
        font-size: 40px;
        font-weight: bold;
        opacity: 0;
        z-index: 120000;
        animation: showcontent 1s ease-in-out 1 forwards
    }
    .item .des {
        margin: 20px 0;
        opacity: 0;
        z-index: 120000;
        animation: showcontent 1s ease-in-out 0.3s 1 forwards
    }

@keyframes showcontent {
    from {
        opacity: 0;
        transform: translate(0,100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0,0);
        filter: blur(0);
    }
}
.buttons {
    position: absolute;
    bottom: 30px;
    z-index: 999;
    text-align: center;
    width: 100%;
}
    .buttons button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #555;
        transition: 0.5s;
    }

        .buttons button:hover {
            background-color: #78553b;
        }
#cuisineh {
    position: relative;
    margin-top:100px;
}
#cuisineh h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #532700;
    font-size: 50px;
}
#cuisine {
    position: relative;
    width: 95%;
    display: flex;
    overflow-x: hidden;
    height: 370px;

}
    #cuisine p {
        color: #532700;
        font-family: 'Times New Roman';
        font-size:large;
    }
#wrapper{
    position:relative;
}
#wrapper i {
    height:50px;
    width:50px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    box-shadow:0 3px 6px rgba(0,0,0,0.23);
    z-index:1;
}
#wrapper i:first-child{
    left:20px;
}
#wrapper i:last-child{
    right:20px;
}
#transparent-box1 {
    background-color: transparent;
    padding: 20px;
    width: 400px;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    color: white;
    align-items: center;
    margin-top: 0px;
    border-radius: 10px;
    position:relative;
}
    #transparent-box1:hover #Trap,
    #transparent-box1:hover #Resp,
    #transparent-box1:hover #Teap,
    #transparent-box1:hover #Decp,
    #transparent-box1:hover #Intp,
    #transparent-box1:hover #Sefp {
        opacity: 1;
    }
    #transparent-box1:hover img {
        opacity: 0.5;
    }
#Restaurant,
#TeaLeaves,
#Tra,
#Dec,
#Int,
#Sef {
    width: 400px;
    height: auto;
    margin-left: 90px;
    float: right;
    border-radius: 50px;
    padding: 20px;
    overflow: hidden;
    position: relative;
}
#Resp {
    opacity: 0;
    transition: opacity 0.6s ease;
    display: flex;
    width: 300px;
    position: absolute;
    justify-items: center;
    text-align: center;
    top: 90px;
    left: 50px;
}
#Teap {
    opacity: 0;
    transition: opacity 0.6s ease;
    display: flex;
    width: 300px;
    position: absolute;
    justify-items: center;
    text-align: center;
    top: 70px;
    left: 50px;
}
#Trap {
    opacity: 0;
    transition: opacity 0.6s ease;
    display: flex;
    width: 300px;
    position: absolute;
    justify-items: center;
    text-align: center;
    top: 90px;
    left: 50px;
}
#Decp {
    opacity: 0;
    transition: opacity 0.6s ease;
    display: flex;
    width: 300px;
    position: absolute;
    justify-items: center;
    text-align: center;
    top: 90px;
    left: 50px;
}
#Intp {
    opacity: 0;
    transition: opacity 0.6s ease;
    display: flex;
    width: 300px;
    position: absolute;
    justify-items: center;
    text-align: center;
    top: 75px;
    left: 50px;
}
#Sefp {
    opacity: 0;
    transition: opacity 0.6s ease;
    display: flex;
    width: 300px;
    position: absolute;
    justify-items: center;
    text-align: center;
    top: 90px;
    left: 50px;
}
#Restaurant img,
#TeaLeaves img,
#Tra img,
#Dec img,
#Int img,
#Sef img {
    width: 100%; /* Adjust the width as needed */
    height: auto;
    display: block;
    margin: 10px 0;
    border-radius: 10px;
}
footer {
    background-color: #532700;
    color: darkgoldenrod;
    text-align: center;
    padding: 1em;
}


/* *********************************Register Form************************* */

.container{
    margin-left: 0px;
    margin-right: 0px;
    width: 1920px;
    height: 100vh;
    background-color: #fff;

    position:relative;
}

.regLogo{
    position:absolute;
    top:5px;
    left:50px;
}

.regContainer{
    width:500px;
    height:390px;
    background-color: #f4f4f4;
    border-radius: 2%;

    position:absolute;
    top:130px;
    left:80px;
}

.reg-title{
    color:#532700;
    font-size:25px;
    font-weight: bold;

    position:absolute;
    top:10px;
    left:50px;
}

.container .image{
    position:absolute;
    top:140px;
    right:60px;
}

.regContainer .btn{
    background-color:#532700;
    color:#fff;
    margin-left:28px;
}

.register{
    position: absolute;
    bottom:25px;
    left:80px;
}

/* ***************************Login Container**************** */

.loginbody{
    height:100vh;
    overflow:hidden;
}

.login{
    margin-top:80px;
    height: 100vh;
    /* background-image: url('img/Royal.jpg'); */

    position:relative;
}

.nav-login-form a:hover{
    text-decoration:none;
}

.loginContainer{
    width:350px;
    height:320px;
    background: color #f4f4f4;
    padding:15px 25px;
    border-radius:2%;

    position:absolute;
    top:100px;
    right:60px;
}

.loginLogo{
    position:absolute;
    top:6px;
    left:40px;
}

.loginpage-image{
    position: absolute;
    top:0px;
}

.password-toggle {
    position: relative;
}
.toggle-icon {
    font-size:13px;
    position: absolute;
    right: 10px;
    top: 52px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* .login-sub-container{
    position: relative;
    background-color: yellow;
}

.login-sub-container i{
    position: absolute;
    top:50%;
    left:0;
}

.login-sub-container email{
    position: absolute;
    top:20px;;
    left:100px;
} */



/* **********************************Booking Page****************************** */

.bookingBody{
    background: url('img/bagan4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity:0.9;


    position: relative;
}

.articleContainer{
    width:550px;
    /* background-color: white; */
    color:#fff;

    position:absolute;
    top:430px;
    left:50px;
}

.articleContainer h1{
    color:#fff;
    font-weight: 900;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.articleContainer p{
    color:#fff;
    /* letter-spacing: 1px; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bookingContainer{
    width:300px;
    height:480px;
    background-color:#fff;
    border-radius:10px;
    padding:20px;

    position:absolute;
    top:90px;
    right:150px;
}

.bookingContainer h3,.bookingContainer p{
    text-align:center;
}

.bookingContainer h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.bookingContainer p{
    font-size:12px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.form-group{
    margin:20px 0;
}

.dropdown{
    margin:20px 0;
}

.roomType,.roomNumber{
    width:100%;
    padding:5px;
    border:1px solid #e6e6e8;
    border-radius: 6px;
}

.book-now-btn{
    width:100%;
    background-color: #482200;
    color:#fff;
    border:none;
    padding:7px 5px;
    border-radius:5px;
}


/* ******************************Booking History********************************** */
.booking-history-body{
    height:100vh;
    overflow:hidden;
    position:relative;
}

.booking-history-body .header-cover{
    height:70px;
}

/* .booking-history{
    width:300px;
    height:450px;
    /* background-color:lightblue; */

    /* position:absolute;
    top:100px;
    right:100px; */
/* } */
/*
/* .info{
    background-color: #482200;
    color:#d6d3d3;
    border-radius:10px;
    padding:5px;
} */

.first-container{

    position:absolute;
    top:70px;
    right:30px;
}

.info{
    text-align:center;
    position:absolute;
    left:780px;
    top:300px;
}

.baganimg2{
    position:absolute;
    bottom:-20px;
    right:0px;
}

.baganimg3{
    position:absolute;
    top:70px;
    right:330px;
}


/* ************************* Customer Profile View*********************************** */

.customer-profile-body{
    height:100vh;
    background-image:url('/img/forprofilepage1.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    overflow:hidden;
    position:relative;
}

.customer-profile-body .header-cover{
    height:70px;
}

.profile-container{
    width:350px;
    height:300px;
    background-color:#fff;
    padding:20px;
    border-radius:8px;
    opacity:0.9;

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.profile-container h2{
    text-align:center;
}

.customer_profile_box{
    width:370px;
    height:100px;

    position:absolute;
    top:80px;
    right:0px;

    opacity:0;
    /* display:none; */
    transition: all 0.3s ease;
}

.customer_profile_img{
    position:absolute;
    top:-8px;
    right:3px;
}

.customer_profile_img img{
    width:35px;
    height:35px;
    border-radius:50%;
}

.customer_profile_img:hover .customer_profile_box{
    width:300px;
    height:80px;
    background-color:#f4f4f4;
    color:#482200;
    border-radius:5px;
    padding:8px;

    position:absolute;
    top:60px;
    right:0px;

    opacity:1;
    /* display:block; */
}

.textarea{
    border:1px solid #000;
}


/* ********************************Admin Dashboard************************************* */

.dashboard-body{
    height:100vh;
    /* overflow:hidden; */

    position:relative;
}

.sidebar{
    width:150px;
    height:100vh;
    background-color:#532700;

    position:fixed;
}

.logo{
    width:80px;
    height:80px;
    margin-left:30px;
}

.logo-img{
    width:80px;
    height:80px;
}

.logo-caption{
    color:#f4f4f4;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* margin-left:17px; */

    position:absolute;
    top:60px;
    left:20px;

}

.categories{
    width:138px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    position:absolute;
    top:170px;
    left:5px;
}

.categories div{
    width:128px;
    padding:10px 5px;
    margin-bottom:25px;
    text-align:center;
    border:1px solid #f4f4f4;
    border-radius:8px;

    transition: all 0.3s ease;
}

.categories div:hover{
    background-color:#f4f4f4;
}

.categories div:hover a{
    color:#482200;
}

.categories div a{
    text-decoration:none;
    color:#f4f4f4;
}

.dashboard-body{
    background-image:url('img/bagan4.jpg');
    background-attachment:fixed;
    background-size:cover;
    background-repeat: no-repeat;
}

.left-container{
    width:1113px;
    /* height:500px; */

    /* background-color:#e1e1e1; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    position:absolute;
    top:0px;
    right:0px;
}

.admin-account-panel{
    width:1113px;
    height:90px;
    background-color:#f4f4f4;

    position:fixed;
    top:0px;
    right:0px;

    z-index:100;
}

.searchbar{
    position:fixed;
    top:25px;
    left:650px;
}

.searchbar .search{
    background-color:transparent;
    border:1.5px solid #482200;
    border-radius:5px;
    padding:7px;
}

.notification,.mail{
    width:30px;
    height:30px;
    background-color:#e5e5e5;
    color:#482200;
    border-radius:5px;
    font-size:20px;
}

.mail{
    position:absolute;
    top:25px;
    right:300px;
}

.notification{
    position:absolute;
    top:25px;
    right:230px;
}

.notification:hover,.mail:hover{
    cursor:pointer;
}

.notification i,.mail i{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.notification .circle{
    width:7px;
    height:7px;
    background-color:#482200;
    border-radius:50%;

    position:absolute;
    top:-1px;
    right:-1px;
}

.admin-account-panel .admin{
    /* background-color: yellow; */
    position:absolute;
    top:25px;
    right:150px;
}

.admin-account-panel .admin .user-icon{
    color:#482200;
    font-size:30px;
    margin-left:22px;
    margin-bottom:10px;
}

.admin-account-panel .admin span{
    color:#482200;
    font-size:10px;
    font-weight:bold;
    display:block;
    position:absolute;
    bottom:-8px;
    right:-8px;
}

.adminLogout{
    position:absolute;
    top:28px;
    right:70px;
}

.adminLogout i{
    color:#482200;
    font-size:27px;
    margin-left:5px;
}

.adminLogout span{
    color:#482200;
    font-size:10px;
    font-weight:bold;
}

.dashboard-panel{
    width:1113px;
    height:350px;
    /* background-color:yellow; */

    position:absolute;
    top:90px;
    right:0px;
}

.totalBookings,.newBookings,.acceptedBookings,
.availableRooms,.checkin,.checkout{
    width:300px;
    height:100px;
    background-color:#532700;
    color:#f4f4f4;
    border-radius:10px;
    opacity:0.9;
}

.totalBookings{
    position:absolute;
    top:79px;
    left:50px;
}

.bookingsCount,.scheduleBookingsCount,.acceptedBookingsCount,
.availableRoomsCount,.checkinCount,.checkoutCount{
    font-size:40px;
    font-weight:bold;

    position:absolute;
    top:20px;
    left:20px;
}

.bookingsCaption,.scheduleBookingsCaption,.acceptedBookingsCaption,
.availableRoomsCaption,.checkinCaption,.checkoutCaption{
    font-size:16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    position:absolute;
    top:65px;
    left:20px;
}

.totalBookings i,.newBookings i,.acceptedBookings i,
.availableRooms i,.checkin i,.checkout i{
    font-size:30px;

    position:absolute;
    top:35px;
    right:30px;
}

.newBookings{
    position:absolute;
    top:79px;
    left:415px;
}

.acceptedBookings{
    position:absolute;
    top:79px;
    right:50px;
}

.availableRooms{
    position:absolute;
    top:220px;
    left:50px;
}

.checkin{
    position:absolute;
    top:220px;
    left:415px;
}

.checkout{
    position:absolute;
    top:220px;
    right:50px;
}

table {
    border-collapse:collapse;
    width:350px;
    height: 10px;
}

th, td {
    border:1px solid #ddd;
    padding:8px;
    text-align:center;
}

th {
    background-color:#f2f2f2;
}

/* ***********************************Customer Panel************************ */



.customer-panel{
    width:1000px;
    height: 300px;
    max-height:450px;
    /* background-color: red; */
    overflow-y:auto;
    /* Hide the scrollbar */
    scrollbar-width: thin;
    overflow: -moz-scrollbars-none;


    position:absolute;
    top:450px;
    right:50px;
}

.customer-panel::-webkit-scrollbar {
    width: 0.5em;
  }

.customer-panel::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

.customer-table{
    border-collapse: collapse;
    width:90%;

    position:absolute;
    top:50px;
    left:50px;
}

.customer-table thead{
    position:sticky;
    top:0;
}

.customer-table thead th{
    background-color:#482200;
    color:#f4f4f4;
}

.customer-delete-btn{
    background-color: #482200;
    color:#f4f4f4;
    border:1px solid transparent;
    border-radius:3px;
    padding:3px 10px;
    opacity:0.95;
}

/* ************************************Room Type Panel************************************* */

.roomtype-panel{
    width:1000px;
    max-height:450px;
    overflow-y:auto;
    /* Hide the scrollbar */
    scrollbar-width: thin;
    overflow: -moz-scrollbars-none;


    position:absolute;
    top:750px;
    right:0px;
}

.roomtype-panel::-webkit-scrollbar {
    width: 0.5em;
  }

.roomtype-panel::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

.roomtype-table{
    border-collapse:collapse;
    width:90%;

    /* position:absolute;
    top:50px;
    left:50px; */
}

.roomtype-table thead{
    position:sticky;
    top:0;
}

.roomtype-table thead th{
    background-color:#482200;
    color:#f4f4f4;
}

.roomtype-table tfoot{
    background-color:#fff;
    position:sticky;
    bottom:0;
}

.add-roomtype-btn-1{
    width:300px;
    background-color: #482200;
    color:#f4f4f4;
    font-size:16px;
    border:1px solid transparent;
    border-radius:3px;
    padding:5px 35px;
}

.roomtype-delete-btn{
    background-color: #482200;
    color:#f4f4f4;
    border:1px solid transparent;
    border-radius:3px;
    padding:3px 10px;
    opacity:0.95;
}

.create-roomtype-container{
    width:800px;
    background-color:yellow;
}

/* *********************************Room Panel******************** */

.room-panel{
    width:1000px;
    max-height:450px;
    overflow-y:auto;
    /* Hide the scrollbar */
    scrollbar-width: thin;
    overflow: -moz-scrollbars-none;


    position:absolute;
    top:1200px;
    right:0px;
}

.room-panel::-webkit-scrollbar {
    width: 0.5em;
  }

.room-panel::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

.room-panel-table{
    border-collapse:collapse;
    width:90%;

    /* position:absolute;
    top:50px;
    left:50px; */
}

.room-panel-table thead{
    position:sticky;
    top:0;

    z-index:10;
}

.room-panel-table tfoot{
    background-color:#fff;
    position:sticky;
    bottom:0;
}

.room-panel-table thead th{
    background-color:#482200;
    color:#f4f4f4;
    /* opacity:0.95; */
}

.addnewroom-btn{
    width:300px;
    background-color: #482200;
    color:#f4f4f4;
    font-size:16px;
    border:1px solid transparent;
    border-radius:3px;
    padding:5px 35px;
}



.room-update-btn button,.room-delete-btn button{
    background-color: #482200;
    color:#f4f4f4;
    border:1px solid transparent;
    border-radius:3px;
    padding:3px 10px;
    opacity:0.95;
}

tr td{
    background-color:#f4f4f4;
    color:#482200;
    opacity:0.9;
}

/* **************************************Dashboard Booking Panel****************************** */
.bookings-cancel-panel,.bookings-update-panel{
    width:1050px;
    max-height:450px;
    overflow-y:auto;
    /* Hide the scrollbar */
    scrollbar-width: thin;
    overflow: -moz-scrollbars-none;
}

.bookings-cancel-panel{
    position:absolute;
    top:1700px;
    right:30px;
}

.bookings-update-panel{
    position:absolute;
    top:2000px;
    right:30px;
}

.bookings-cancel-panel::-webkit-scrollbar,.bookings-update-panel::-webkit-scrollbar {
    width: 0.5em;
  }

.bookings-cancel-panel::-webkit-scrollbar-thumb,.bookings-update-panel::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

.bookings-cancel-panel-table,.bookings-update-panel-table{
    border-collapse:collapse;
    width:100%;
}

.bookings-cancel-panel-table thead th,.bookings-update-panel-table thead th{
    background-color:#482200;
    color:#f4f4f4;
}

.bookings-cancel-panel-table .rt,.bookings-update-panel-table .rt{
    width:50px;
}

.bookings-cancel-panel-table .rn,.bookings-update-panel-table .rn{
    width:50px;
}

.bookings-cancel-panel-table .bs,.bookings-update-panel-table .bs{
    width:50px;
}

.bookings-cancel-panel-table td input{
    width:80%;
    background-color:transparent;
    border:none;
}

.cancel-submit-btn{
    background-color: #482200;
    color:#f4f4f4;
    border:1px solid transparent;
    border-radius:3px;
    padding:3px 10px;
    opacity:0.95;
}

.bookings-update-panel-table select,.bookings-update-panel-table input{
    border:none;
    padding:2px 5px;
    border-radius: 3px;
}



